.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
